*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family:sans-serif;
    font-size: 22px;
}

h1{
    margin: 0;

}

/* Nav med css */

header{
    background-color: #39d;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: black;
}

.top-nav li:hover a{
    color: black;
}

/* main info */

#wrapper-startsidan{

    display: flex;
}

main{
    flex:1;
    background-color: #ddd;

}

aside{
    flex: 1;
    background-color: #ddd;
    
}

main ul{
    list-style-type:circle;

}


/* CSS för ul och li för startsidan */

ul.level-1{
    margin-left: 150px;
    padding: 2rem;
}

ol.level-1{
    margin-left: 100px;
    padding: 2rem;
}

li.level-1{
    margin-left: 100px;
    padding: 2rem;
}

.padding{
    margin: 2rem;
}

.none-style{
    list-style: none;
}

ol li ol li{
    list-style: circle;
}

#footer1{
    margin: 0;
    background-color: #39d;
    padding: 2rem;
}

.spain{
    background-image: linear-gradient(red 33%,yellow 33%, yellow 66%, red 33%);
}

.peru{
	background-image:linear-gradient(90deg,red 33%, white 33%, white 66.66%, red 66.66%);
}

.italy{
	background-image:linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
}

.flag{
    width: 250px;
    height: 170px;
    margin: 20px 0 0 45px;
    display: inline-block;
    border: 1px solid #000;
}

/* CSS FÖR LAND SIDAN */

.iframe-style{
    border: 3px solid black;
    border-radius: 1em;
    margin: 2rem;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.03);
}

.iframe-style-2{
    border: 3px solid black;
    border-radius: 1em;
    
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.02);
}

.display-land{
    display: flex;

}

.land{
    flex: 2;
    background-color: #ddd;
    padding: 0.5rem .5rem .1rem .5rem ;
    margin: 1rem;

}

.land1{
    flex:1;
    background-color:#ddd;
    padding: 1rem;
    min-width: 200px;
    margin: 1rem;
    
}

h3{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    font-style: italic;
    margin-top: 2rem;
    color: #39d;

}

p{
    text-align: left;
    padding: 1rem;
}

#p2{
    margin-top: 1rem;
}

/* CSS for tables */

.styled-table{
    border-collapse: collapse;
    margin: 220px 5rem;
    font-size: 1em;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #39d;
    color: #ffffff;
    text-align: center;
}

.styled-table th, .styled-table td{
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #39d;
}

/* CSS för evenemang */

.style-text{
    text-align: center;
    font-style: italic;
    font-weight: 700;
    color: rgb(2, 9, 152);
    padding: 1rem;
    margin: 10px 10px 10px 10px ;
    font-size: 24px;
}

.style-text-1{
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color: #39d;
    padding: 1rem;
    margin: 1rem;
    font-size: 24px;
}

.style-text-1 a {
    color: #39d;
    text-decoration: underline;
}

/* TEXTAREA CSS */

textarea{
    margin: 60px 10px 10px 100px ;
    padding: 2rem;
    width: 800px;
    border-color: #39d;
    border-radius: 10px;
    border-width: 5px;
    background-color: whitesmoke;
}

.txt-design{
    font-size: 22px;
    text-align: center;
    font-style: italic;
}

/* CSS FÖR FÖRMULÄR */

.display-form{
    display: flex;
    flex-direction: column;
}

.form-design{
    padding: 1rem;
    margin: 0 0 0 100px;
}

.label-design{
    color: #39d;
    margin-right: 0px;
}

.input-design{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 500px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Galleri */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

h2{
    margin-bottom: .5em;
    text-align: center;
}

img{
    padding: .5rem;
    width: 100%;
    height: 300px;
    aspect-ratio: 1;
    object-fit:fill;
    
}

.location-listing{
    position: relative;
}

.location-image{
    line-height: 0;
    overflow: hidden;
}

.location-image img{
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}

.location-title{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(51, 153, 221,0.3);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}

video{
    padding: 0;
    margin: 50px 10px 50px 450px;
    width: 1000px;
    height: 600px;
    border-width: 10px;
    border: #000;
    border-radius: 20px;
    box-shadow: 0 0 10px #000 ;
    
}