*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family:sans-serif;
    font-size: 22px;
}

h1{
    margin: 0;

}

/* Nav med css */

header{
    background-color: #39d;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: black;
}

.top-nav li:hover a{
    color: black;
}

/* main info */

#wrapper-startsidan{

    display: flex;
}

main{
    flex:1;
    background-color: #ddd;

}

aside{
    flex: 1;
    background-color: #ddd;
    
}

main ul{
    list-style-type:circle;

}


/* CSS för ul och li för startsidan */

ul.level-1{
    margin-left: 150px;
    padding: 2rem;
}

ol.level-1{
    margin-left: 100px;
    padding: 2rem;
}

li.level-1{
    margin-left: 100px;
    padding: 2rem;
}

.padding{
    margin: 2rem;
}

.none-style{
    list-style: none;
}

ol li ol li{
    list-style: circle;
}

#footer1{
    margin: 0;
    background-color: #39d;
    padding: 2rem;
}
